/* Formatações Gerais de ELEMENTOS */
body {
    margin: 0;
}

label {
    margin-bottom: 0.25em;
    display: block;
}

input:not([type=submit]) {
    display: block;
    width: 100%;
    margin-bottom: 1em;

    padding: 1em;
    box-sizing: border-box;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 5px;
}

    input:not([type="submit"]):focus {
        border-bottom: 3px solid darkorange;
    }

/* Formatações Gerais de CLASSES */


/* Formatações da Página [Top to Bottom] */
.form--default {
    background-color: #eee;
    width: 60vw;
    margin: 20vh auto;
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

    /* Por questões de acessibilidade(Deficientes visuais), o texto é simplesmente escondido do usuário para mesmo assim um leitor de tela ditar a legenda do formulário */
    .form__legend--hidden {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .form__buttom--center {
        margin: auto;
        margin-top: 3em;
        display: block;
        padding: 1em 3em;
    }

/* 80 x 16px = 1280px */
@media screen and (min-width: 80em) {

    .form--default {
        width: 40vw;
    }

}