/* Formatações Gerais de ELEMENTOS */
body {
    margin: 0;
}

/* Formatações Gerais de CLASSES */
.a--no-default-style {
    text-decoration: none;
    color: black;
}

/* Formatações da Página [Top to Bottom] */
/* Header Superior */
.header__ul--lines {
    background-color: #c2baa1;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

    .header__li--line {
        text-align: center;
    }

        .header__li--line a {
            display: block;
            padding: 1em 2em;
        }

/* Seção Principal */
.section--products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .section__div--product {
        margin: 1em;
    }

        .section__div--product img {
            width: 10em;
            height: 10em;
        }